
/* ==========================================================
! 01. MIXINS / VARIABLES
==============	=========================================== */
.color1 {
    color: #1cae65;
}
.color2 {
    color: #021533;
}
.color3 {
    color: #d9212a;
}
.font1 {
    font-family: 'Montserrat', sans-serif;
}
.bold {
    font-weight: bold;
}
.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box-shadow {
    -webkit-box-shadow:  2px 6px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.3);
    box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.3);
}
.responsive-image {
    width: 100%;
}
.section {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* ==========================================================
! 02. GENERAL
========================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    background: /* url('../img/bg1.jpg')*/ no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* ==========================================================
! 03. Buttons
========================================================== */
a:focus {
    outline: none;
}
.btn {
    font-weight: bold;
    color: #ffffff;
    background: #1cae65;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2px;

}
.btn:hover {
    background: #000000;
    color: #ffffff;
}
.btn-default {
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1cae65 !important;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0 solid transparent!important;
    position: relative;
    z-index: 1;
}
.btn-default:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #021533;
    z-index: -1;
}
.btn-default:hover {
    color: #ffffff;
    border: 0px solid transparent!important;
    border-radius: 5px;
}
.btn-default:hover:before {
    width: 100%;
    border-radius: 5px;
}


.btn-default2 {
    font-size: 9px;
    background: #000000;
    font-weight: lighter;
    border-radius: 5px;
}


iframe {
    width: 100%;
}
.btn-fluid {
    width: 100%;
}

/* ==========================================================
! 05. FOOTER
========================================================== */
.social-icons {
    font-size: 28px;
    text-align: right;
    display: none;

}

.social-icons a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.social-icons a:hover {
    opacity: 0.7;
}
.footer-social-icons {
    text-align: center;
}
.footer-social-icons a {
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.footer-social-icons a:hover {
    color: #ffffff;
    background: #08aeac;
}
/* ==========================================================
! 06. SECTION: vCard Body
========================================================== */
.container {
    position: relative;
    padding-bottom: 80px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.section-vcardbody {
    width: 99%;
    margin: 0 auto;
    background: /* url('../img/bg1.jpg')*/ repeat-x right top #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.46);
    border-bottom: 15px solid #f4f4f4;
}

.section-vcardbody-pgactive {
    left: 15%;
}

.page-mask-active {
    left: 55%;
    opacity: 1;
    margin-left: 10px;
}
.section-page-active {
    opacity: 1;
    z-index: 22;
    left: 55%;
    visibility: visible;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.section-page-single {
    left: 55%;
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    visibility: hidden;
    padding: 20px;
    padding-top: 0px;
}





/* ==========================================================
! 07. SECTION: Main Menu
========================================================== */
.main-menu {
    width: 15%;
    position: absolute;
    top: 0;
    left: 10%;
    padding-right: 10px;
    margin-top: 36px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    display: block;


}


@media  (max-width:500px){
    .main-menu {
        margin-top:10%;
        width: 80%;
    }

    .main-menu-list li {
        float:left;

    }

}




.main-menu-pgactive {
    left: 0%;
}
.main-menu-list {
    margin: 0;
    padding: 0;
}
.main-menu-list li {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    list-style: none;

}
.main-menu-list a {
    display: block;
    background: #1cae65;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    border-radius: 5px;


}
@media (min-width:992px) {
    .main-menu-list a {
        font-size: 12px;
    }
}


.main-menu-list a:active,
.main-menu-list a:visited {
    text-decoration: none;
}
.main-menu-list a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000000;
    border-radius: 5px;
    z-index: -1;
}
.main-menu-list a:hover {
    color: #ffffff;
    border: 0px solid transparent!important;
    text-decoration: none;
    padding-left: 15px;
}
.main-menu-list a:hover:before {
    width: 100%;
}
.main-menu-list a.menuActive {
    text-decoration: none;
    background: #000000;
    padding-left: 15px;
}
/* ==========================================================
! 08. Home
========================================================== */
.section-home {
    z-index: 88;
    opacity: 1;

}
.vcard-profile-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.vcard-profile-pic img {
    width: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 6px solid #ddd;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

@media  (max-width:500px){
    .vcard-profile-pic img{
        width: 60%;
        height: auto;

    }
    #profile1{
        margin-top: 10%;
        margin-left: 20%;
    }

}

/*smartphone*/
@media (max-width: 1676px)  {
    .vcard-profile-pic img{
        width: 80%;
        height: auto;

    }
    #profile1{
        margin-top: 25%;
                   }
   h1.profile-title{
       margin-top: 10%;
   }


}

h1.profile-title{
    margin-top: 10%;
}


.profileActive {
    opacity: 1!important;
}
.vcard-profile-description {
    text-align: center;
}
.profile-title {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
}
.profile-subtitle {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vcard-profile-description-text {
    padding: 10px;
    margin-bottom: 5px;
}
.vcard-profile-description-text p {
    font-size: 13px;
}
.hr1 {
    border: none;
    height: 1px;
    width: 100%;
    background:  no-repeat center center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vcard-profile-description-ft-item {
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    background: no-repeat center center  #1cae65;
}
.vcard-profile-description-ft-item p {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 12px;
}
/* ==========================================================
! 09. Content
========================================================== */
.section-title {
    color: #021533;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
    border-bottom: 1px solid #021533;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.section-title2 {
    font-weight: bold;
    color: #1cae65;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    border-left: 4px solid #1cae65;
}
.resume-item {
    padding: 15px;
    border: 4px double #ccc;
    margin-bottom: 15px;
}
.section-item-title-1 {
    font-weight: bold;
    color: #021533;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
}
.section-item-title-2 {
    font-weight: bold;
    color: #021533;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: -1px;
    border-bottom: 1px dotted #021533;
    padding-bottom: 5px;
}
.graduation-time,
.job {
    line-height: 15px;
    font-style: italic;
    color: #555;
    font-size: 10px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.graduation-description p {
    font-size: 12px;
}
/*============================================================================
  >>  10. SECTION: Resume
  ============================================================================
*/

.section-education {
    margin-bottom: 40px;
}
.home-buttons {
    margin-bottom: 30px;
    text-align: center;

}
.header-page-buttons {
    margin-top: -20px;

}
.page-footer {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.footer-quote {
    color: #444;
    font-size: 11px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.testimonials {
    text-align: center;
    font-size: 18px;
}
.testimonial-item {
    width: 100%;
    margin: 0 auto;
}

.quote-text {
    font-style: italic;
}

.owl-carousel {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.owl-carousel:focus {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.owl-carousel:active {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.owl-carousel:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

/* ==========================================================
! 12. SECTION: SKILLS
========================================================== */
.skills-list {
    padding-left: 0;
    margin-left: 0;
}
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-size: 13px;
    padding: 3px 30px 2px 10px;
    color: #ffffff;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
    color: #313131;
    font-size: 14px;
}
.skills-list {
    list-style: none;
    margin-bottom: 40px;
}
.progress-bar {
    background: #1cae65;
    width: 20%;
}
.progress-bar-2 {
    background: #4875b0;
}
.progress-bar-3 {
    background: #d9212a;
}
.progress-bar-4 {
    background: #df9133;

}
.progress > .progress-type-1 {
    position: absolute;
    left: 0%;
    font-size: 13px;
    padding: 3px 30px 2px 10px;
    color: #ffffff;

}
/* ==========================================================
! 13. SECTION: Portfolio
========================================================== */
.section-portfolio{
    margin-bottom: 40px;
    }

.project-item {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    opacity: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}
.project-item a {
    /*cursor: url('../img/projects2.cur'), projetos !important;*/
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.project-thumbnail {
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background: rgb(190, 190, 190);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    text-align: center;
    color: #000000;
    padding: 15px;
}
.project-thumbnail:hover {
    color: #ffffff;
}
.project-thumbnail:hover .project-description-wrapper {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}
.project-thumbnail:hover .project-title,
.project-thumbnail:hover span.see-more {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}
.project-description-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #ffffff;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
}
.project-description {
    position: absolute;
    top: 50%;
    margin-top: -55px;
    width: 100%;
}
.project-title {
    text-transform: uppercase;
    font-size: 20px;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-title:after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid #ffffff;
    width: 50%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-thumbnail {
    display: block;
    color: #ffffff;
    position: relative;
}
span.see-more {
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
}



/* ==========================================================
! 17. SECTION: Contact
========================================================== */
.contact-subtitle-1 {
    color: #1cae65;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #1cae65;
}
.contact-subtitle-1:first-child {
    margin-top: 0;
}
.contact-infos p {
    font-size: 13px;
    line-height: 16px;
}

#contat_container{
    margin-bottom: 20%;

}

/* ==========================================================
! 18. CROSSBROWSER FALLBACKS
========================================================== */
.safari .vcard-profile-pic img {
    border: 0px solid #ddd;
}

/*============================================================
vino
================================================================*/
.vino-images p {
    font-size: 13px;
    line-height: 16px;
}
#vino_container{
    margin-bottom: 20%;

}
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1676px){
    .responsive {
        width: 50%;
        margin-bottom: 10%;

    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.space{
    margin-bottom: 30%;
}


